
body {
    display: flex;
    align-items: center;
}

#main {
    max-width: 200em;
    margin: 4em auto;
}

body div button {
    margin: 1em;
}

.gridDisplay {
    display: grid;
    grid-template-columns: max-content max-content;
}

#ordernumDisplay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1em;
    border: 1px solid black;
}

#daysTotalDisplay {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 1em;
    border: 1px solid black;
}